<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Phonetic</title>
</head>
<body>
    <h1>Paragraph</h1>
    <p>Please tell AI to write something...</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button>Generate</button>
    </form>
    <div class="paragraph-box">
        <p>{{response}}</p>
    </div>

    <h1>Get word information</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Translate</button>
    </form>
    <h1>Word Information</h1>
    <p>Word: {{ word }}</p>
    <p>Phonetic Pronunciation: {{phonetic_pronunciation}}</p>
    <p>Definition: {{ word_definition }}</p>
</body>
</html>