<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Phonetic</title>
</head>
<body>
    <h1>Generate Text</h1>
    <form method="post">
        {% csrf_token %}
        {{ generate_text_form.as_p }}
        <button type="submit">Generate</button>
    </form>
    
    <div class="paragraph-box">
        <p>{{ response }}</p>
    </div>
</body>
</html>
