{# the home button #}
<p><a href="/">HOME</a></p>

<h1>Translate</h1>

{# the textbox #}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Translate</button>
</form>

<h1 style="font-size: 125%;"></h1>IPA : </h1> {{ context.text}}</h1>
<h1 style="font-size: 125%;"></h1>Soundex   : </h1> {{ context.soundex}}</h1>
<h1 style="font-size: 125%;"></h1>Metaphone : </h1> {{ context.metaphone}}</h1>
<h1 style="font-size: 125%;"></h1>Letters : </h1> {{ context.letters}}</h1>


